@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.vw-10{
    width: 10vw
}
.vw-70{
    width: 70vw;
}
.w-35{
    width:35%
}

*{
    font-family:roboto; 
}
#index, #login{
  background:url(../icons/background-wave.svg) no-repeat center center fixed;  
}
#index nav{
    height:10vh;
}
.diaActual{
    font-weight: bolder;
    font-size: large;
}
.diaCalendario{
    height: 4.5rem;
}


.boton {
    transition-duration: 0.4s;
    background-color: #000000c1;
    border: none;
    color: white;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }
  
  .boton:hover, .diaCalendario.enabled:hover {
    background-color: #03a358;
    color: white;
  }
  .diaCalendario.disabled{
    background-color: #f8f9fa28;
  }
  .diaCalendario.enabled{
    background-color: #f8f9fa7c;
  }
  .disabled:hover{
    background-color: #0f1a1673;

  }
 
#pestañaEvento{
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: 10%;
    width: 50%;
    height: 60%;
    display: none;
    background-color: #ffffff;
    border-radius: 10px;
  }
  #index{
    background-color: #ffffff ;
  }

  #año-titulo{
    font-size: 40px;
    height: 100%;
  }
  #mes-titulo{
    height:100%;
  }

  .calendarBar{
    margin: 0 15vw;
  }

  /* Login/Register */
#login{
  padding-top:5%;
}
#forms{
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
  
}
#login li{
  width:10%;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  /* color: black; */
  background-color: #000000d8;
}



/* Vista agena */
.agenda-event-hover:hover{
  background-color: rgba(251, 253, 255, 0.836);
}
#vistas-container{
  width: 75vw;
  margin: 3vh 12.5vw;
}


